<aside class="sbar col-xs-12 col-sm-4 col-md-3 center-xs middle-xs">
    <div class="row center-xs">
    <section class="sbar__author col-xs-12">
        <img src="{{site.baseurl}}/assets/images/beto.jpg" class="author-img"/>
        <span class="author-name">Beto da Silva</span>
        <span class="author-carrer">Front-End Developer</span>
        <p class="author-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <p class="author-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur adipisicing elit.</p>
        <span class="separator">
            <img src="assets/separator.svg" alt="separator">
        </span>
        <div class="author-sn">
            <a href="{{site.github_username}}" target="_blank" class="brandico-github github"></a>
            <a href="{{site.twitter_username}}" target="_blank" class="brandico-twitter-bird twitter"></a>
            <a href="{{site.instagram_username}}" target="_blank" class="brandico-instagram instagram"></a>
        </div>
    </section>
    </div>
</aside>