---
layout: default
---
{% include sidebar.html %}
<main class="page-content col-xs-12 col-sm-8 col-md-9" aria-label="Content">
	<div class="wrapper">
		<ul class="post-list">
			{% for post in site.posts %}
			<li class="post-item">
				<h2 class="post-item__title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
				<div class="post-item__exc">{{ post.excerpt }}</div>
				<div class="post-item__info">
					<span class="post-item__date font_small"><em>Postado 
						<time datetime="{{ post.date | date_to_xmlschema }}">
							{{ post.date | date_to_string }}
						</time>
						</em>
					</span>
					{% unless post.category == empty %}
						<span class="post-item__category font_small">
							<span class="category-sep">|</span>
							<span class="category-dot">&bullet;</span> {{post.category}}
						</span>
					{% endunless %}
				</div>
				<a href="{{ post.url }}" class="post-item__btn"><em>Continuar leitura 
					<i class="fontawesome-double-angle-right"></i> 
					</em>
				</a>
			</li>
			{% endfor %}
		</ul>
	</div>
</main>
